---
 const personalImageAlt = "Manuel Véliz"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Manuel de Jesús Véliz Najera, soy de Taxisco, Santa Rosa Guatemala. Empecé en la
      programación en el año 2010. Actualmente doy clases Online en mi web <strong
        >Y compartiendo conocimiento en plataformas digitales.</strong
      >
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >Graduarme como Ingeniero en Sistemas de la Información y Ciencias de la Computacion.</strong
      > Y poderme especializar en mas de 15 Proyectos web con diferentes tecnología desde el Back-end y Front-end.
    </p>

    <p>
      Docente y creador de Contenido de Programación, <strong
        >Actualmente Imparto un curso en la Universidad San Carlos de Guatemala y tengo diferentes canales en Redes Sociales para la divulgación de contenido Digital.  <em class="italic">Software & Movil Development</em> en Mvtechgt.com</strong
      >. Mi objetivo es apoyar y seguir mejorando en mis habilidades como Ingieniero y Desarrollador.
    </p>
  </div>

  <img width="200" height="200" src="/degradadoGray.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

